:root{
    --body-bg: #06260F;
    --contact-btn:#AFF43F;
    --shop-btn:#11CF00;
    --heading-color:#F6F9EE;
    --contact-bg:#11CF00;
    --contact-heading-color:#000000;
}

/* body{
    background-color: ;
} */