:root{
    --body-bg: #06260F;
    --contact-btn:#AFF43F;
    --shop-btn:#11CF00;
    --heading-color:#F6F9EE;
    --contact-bg:#11CF00;
    --contact-heading-color:#000000;
}

body{
    background-color: var(--body-bg);
    font-family: "Berkshire Swash", serif;
    overflow: hidden;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
   scroll-snap-align: start;
   width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
header{
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}